@font-face {
  font-family: "OkMallangW";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2603-1@1.0/OkMallangW-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 15px;
  gap: 10px;
  height: 100vh;
  padding: 20px;
}

.card {
  background: linear-gradient(135deg, #90caf9, #e3f2fd);
  border-radius: 15px;
  text-align: center;
  padding-top: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#childProfile h3 {
  font-family: "OkMallangW", sans-serif;
  font-size: 24px;
}

#childProfile p {
  font-family: "OkMallangW", sans-serif;
}

.growth-chart {
  background: linear-gradient(135deg, #81c784, #e8f5e9);
  font-family: "OkMallangW", sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#growth-chart {
  text-align: left;
  padding-left: 10px;
  font-size: 24px;
}

.today-tip {
  background: linear-gradient(135deg, #fff176, #fff8e1);
  font-family: "OkMallangW", sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#today-tip {
  text-align: left;
  font-size: 24px;
  padding-left: 10px;
}
.milestone {
  background: linear-gradient(135deg, #ce93d8, #f3e5f5);
  font-family: "OkMallangW", sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#milestone-timeline {
  text-align: left;
  font-size: 24px;
  padding-left: 10px;
}
